@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none !important;
    color: black;
}

.flex--row {
    display: flex;
    flex-direction: row;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F4F7FF;
    font-family: 'Inter', sans-serif;
}

body {
    margin-top: -20px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
